@mixin gradient_background ($top: #fff, $bottom: #999) {
  background: -webkit-linear-gradient($top, $bottom); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient($top, $bottom); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient($top, $bottom); /* For Firefox 3.6 to 15 */
  background: linear-gradient($top, $bottom);
}

@mixin border-radius( $radius: 10px ) {
  -webkit-border-radius: $radius; 
     -moz-border-radius: $radius;
          border-radius: $radius; 
}

// transform
@mixin transform($value) {
  -webkit-transform: $value;
     -moz-transform: $value;
      -ms-transform: $value;
       -o-transform: $value;
          transform: $value;
}

// Box shadow
@mixin box-shadows($value) {
  -webkit-box-shadow: $value;
     -moz-box-shadow: $value;
          box-shadow: $value;
}


@mixin column ($count: 3, $gap: 10px, $fill: balance){
  -webkit-column-count: $count;
     -moz-column-count: $count;
          column-count: $count;

  -webkit-column-gap: $gap;
     -moz-column-gap: $gap;
          column-gap: $gap;

  -webkit-column-fill: $fill;
     -moz-column-fill: $fill;
          column-fill: $fill;
}